body{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     
}

.main{
    width:100%;
}
nav{
    width:100%;
   background : rgba(27,27,27,.6);
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    
}
.logo a{
    margin-left: 30px;
    font-size: 60px;
    color: 
    font-weight: bold;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 19px;
    transition: 0.5s all ease;
}
ul{
  margin: 0px;
  margin-right: 100px;
    
}
ul li{
    float: left;
    padding:0px 10px;
    list-style: none;
}
ul li a:hover{
    color:rgb(99, 212, 34)
}
.header{
    background-image: url("food1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;     
}
.content{
    position: absolute;
    top: 50%;
    left: 58%;
    transform:translate(-50%,-50%);
    color: white;
    justify-content: center;
    align-items: center;
}
.content h1{
    font-size:50px;
}
.content p{
   
    font-size:20px;
}
button{
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 19px;
    padding: 10px,25px;
    border-radius: 8px;
}
button:hover{
    background: linear-gradient(to bottom, #99ffcc 0%, #99ff66 100%);
    color:rgb(0, 0, 0);
}
.overlay{
    margin-top: 0px;
    background : rgba(27, 27, 27, 0.6);
    height: 89vh;
}